.result-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
}
.analysis {
    font-size: 2rem;
    margin-top: 3rem;
}
.result-area li {
    list-style-type: none;
}
.area span{
    font-size: 4rem;
}
#return {
    height: 3rem;
    width: 21rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin-top: 1rem;
    border-style: none;
    cursor: pointer;
    color: var(--second-color);
}
#return:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}
